<!doctype html>{% load static %}
<html lang="zxx">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap Min CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- Animate Min CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css'%}">
    <!-- FlatIcon CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}">
    <!-- Odometer Min CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/odometer.min.css' %}">
    <!-- MeanMenu CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/meanmenu.css' %}">
    <!-- Magnific Popup Min CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.min.css' %}">
    <!-- Nice Select Min CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/nice-select.min.css' %}">
    <!-- Owl Carousel Min CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.theme.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.transitions.css' %}">
    <!-- Font Awesome Min CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.min.css' %}">
    <!-- Style CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">


    <title>TantraByte</title>

    <link rel="icon" type="image/png" href="{% static 'assets/img/123.png' %}">
</head>

<body>

    <!-- Preloader -->
    <div class="preloader">
        <div class="loader">
            <div class="shadow"></div>
            <div class="box"></div>
        </div>
    </div>
    <!-- End Preloader -->

    <!-- Start Navbar Area -->
    <div class="navbar-area">
        <div class="plamb-responsive-nav">
            <div class="container">
                <div class="plamb-responsive-menu">
                    <div class="logo">
                        <a href="index.html">
                            <div class="white-logo">
                                <h3 style="color:white">Slogfy</h3>
                            </div>
                            <div class="black-logo">
                                <h3>Slogfy</h3>
                            </div>

                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="plamb-nav">
            <div class="container">
                <nav class="navbar navbar-expand navbar-fixed-top">
                    <a class="navbar-brand" href="index.html">
                        <div class="black-logo">
                            <h1> Slogfy </h1>
                        </div>
                        <div class="white-logo">
                            <h1 style="color:white"> Slogfy </h1>
                        </div>
                    </a>

                    <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                        <ul class="navbar-nav">

                            <li class="nav-item">
                                <a href="#services" class="nav-link">
                                        Our Services
                                    </a>

                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                        Our Products
                                        <i class="fas fa-chevron-down"></i>
                                    </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a href="#" class="nav-link">Data analytics</a></li>
                                    <li class="nav-item"><a href="healthcare.html" class="nav-link">HealthCare <i class="fas fa-chevron-down"></i></a>
                                        <ul class="dropdown-menu">
                                            <a href="#" class="nav-link"> HeartCare </a>
                                            <a href="#" class="nav-link"> EyeCare </a>
                                        </ul>
                                    </li>
                                    <li class="nav-item"><a href="#" class="nav-link">Robotic</a></li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a href="https://tantrabyte.org/blogs" class="nav-link">
                                        Blog
                                        <i class="fas fa-chevron-down"></i>
                                    </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">
                                                Animations Using Matplotlib
                                            </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">
                                                Applications of AI in HealthCare
                                            </a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="#" class="nav-link">
                                                Application Of AI in Genetic Research
                                            </a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="#" class="nav-link">
                                                Business Process Automation
                                            </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="about.html" class="nav-link">
                                        About Us
                                    </a>
                            </li>


                        </ul>
                        <div class="other-option">
                            <a class="default-btn" href="#footer">
                                    Contact Us
                                    <span></span>
                                </a>
                        </div>

                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- End Navbar Area -->
    <!-- Start Page Title Area -->
    <div class="page-title-area item-bg6">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="page-title-content">
                        <h2>Robotic</h2>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li>Our Products</li>
                            <li>Robotic</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Jumbotron Header -->
    <div class="jumbotron home-spacer" id="products-jumbotron">
        <h1>Welcome to our Robotic Products!</h1>
        <p>We have the best Robotic Products. No need to hunt around, we have all in one place.</p>

    </div>
    <hr>

    <div class="row text-center" id="cameras">
        <div class="col-md-3 col-sm-6 home-feature">
            <div class="thumbnail">
                <img src="https://www.yaskawa-global.com/wp-content/uploads/2017/03/product_robitics_016.jpg" alt="">
                <div class="caption">
                    <h3>Arc Welding Robot </h3>
                    <p>Price: Rs. 36000.00 </p>
                    <p><a href="#" role="button" class="btn btn-primary btn-block">Add to cart</a></p>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 home-feature">
            <div class="thumbnail">
                <img src="https://www.yaskawa-global.com/wp-content/uploads/2018/02/product_robitics_023.jpg" alt="">
                <div class="caption">
                    <h3>Spot welding Robot </h3>
                    <p>Price: Rs. 40,000.00 </p>
                    <p><a href="#" role="button" class="btn btn-primary btn-block">Add to cart</a></p>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 home-feature">
            <div class="thumbnail">
                <img src="https://www.yaskawa-global.com/wp-content/uploads/2018/02/product_robitics_032.jpg" alt="">
                <div class="caption">
                    <h3>Assembling Robot</h3>
                    <p>Price: Rs. 50000.00</p>
                    <p><a href="#" role="button" class="btn btn-primary btn-block">Add to cart</a></p>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 home-feature">
            <div class="thumbnail">
                <img src="https://www.yaskawa-global.com/wp-content/uploads/2018/07/product_robitics_hc10dt.jpg" alt="">
                <div class="caption">
                    <h3>Collabortive Robots</h3>
                    <p>Price: Rs. 50000.00</p>
                    <p><a href="#" role="button" class="btn btn-primary btn-block">Add to cart</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="row text-center" id="watches">
        <div class="col-md-3 col-sm-6 home-feature">
            <div class="thumbnail">
                <img src="https://www.yaskawa-global.com/wp-content/uploads/2017/09/product_robitics_004.jpg" alt="">
                <div class="caption">
                    <h3>Biomedical Robot Machine </h3>
                    <p>Price: Rs. 13000.00 </p>
                    <p><a href="#" role="button" class="btn btn-primary btn-block">Add to cart</a></p>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 home-feature">
            <div class="thumbnail">
                <img src="https://www.yaskawa-global.com/wp-content/uploads/2017/03/product_robitics_043.jpg" alt="">
                <div class="caption">
                    <h3>Palletizing Robots Machine</h3>
                    <p>Price: Rs. 3000.00 </p>
                    <p><a href="#" role="button" class="btn btn-primary btn-block">Add to cart</a></p>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 home-feature">
            <div class="thumbnail">
                <img src="https://www.yaskawa-global.com/wp-content/uploads/2017/03/product_robitics_063.jpg" alt="">
                <div class="caption">
                    <h3>Sealing/cutting Robots</h3>
                    <p>Price: Rs. 8000.00 </p>
                    <p><a href="#" role="button" class="btn btn-primary btn-block">Add to cart</a></p>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 home-feature">
            <div class="thumbnail">
                <img src="https://www.yaskawa-global.com/wp-content/uploads/2018/02/product_robitics_053.jpg" alt="">
                <div class="caption">
                    <h3>Press Handling Robots </h3>
                    <p>Price: Rs. 120000.00 </p>
                    <p><a href="#" role="button" class="btn btn-primary btn-block">Add to cart</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="row text-center" id="shirts">
        <div class="col-md-3 col-sm-6 home-feature">
            <div class="thumbnail">
                <img src="https://www.yaskawa-global.com/wp-content/uploads/2017/03/product_robitics_073.jpg" alt="">
                <div class="caption">
                    <h3>Deburring Robots Machine</h3>
                    <p>Price: Rs. 800.00 </p>
                    <p><a href="#" role="button" class="btn btn-primary btn-block">Add to cart</a></p>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 home-feature">
            <div class="thumbnail">
                <img src="https://www.yaskawa-global.com/wp-content/uploads/2017/03/product_robitics_083.jpg" alt="">
                <div class="caption">
                    <h3>Painting Robot Machine</h3>
                    <p>Price: Rs. 1000.00</p>
                    <p><a href="#" role="button" class="btn btn-primary btn-block">Add to cart</a></p>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 home-feature">
            <div class="thumbnail">
                <img src="https://www.yaskawa-global.com/wp-content/uploads/2017/03/product_robitics_0102.jpg" alt="">
                <div class="caption">
                    <h3>Glass Substrates tranfer</h3>
                    <p>Price: Rs. 1500.00</p>
                    <p><a href="#" role="button" class="btn btn-primary btn-block">Add to cart</a></p>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 home-feature">
            <div class="thumbnail">
                <img src="https://www.yaskawa-global.com/wp-content/uploads/2017/03/product_robitics_0112.jpg" alt="">
                <div class="caption">
                    <h3>SemiConductor tranfer</h3>
                    <p>Price Rs. 1300.00</p>
                    <p><a href="#" role="button" class="btn btn-primary btn-block">Add to cart</a></p>
                </div>
            </div>
        </div>
    </div>
    <hr>
    </div>



    <!-- Start Footer Section -->
    <section class="footer-section ptb-100">
        <div class="container">
            <div class="row">


                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <div class="footer-heading">
                            <h3>Contact</h3>
                        </div>

                        <div class="footer-info-contact">
                            <i class="flaticon-call-answer"></i>
                            <h3>Phone</h3>
                            <span><a href="tel:+91 9205137675">+91 9205137675</a></span>
                        </div>



                        <div class="footer-info-contact">
                            <i class="flaticon-maps-and-flags"></i>
                            <h3>Address</h3>
                            <span>F-76,<br> 
                                      Near Saket Metro station,<br>Gate no. 2,<br> New Delhi,110030 </span>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <div class="footer-heading">
                            <h3>Social Media</h3>
                        </div>

                        <div class="footer-info-contact">
                            <i class="flaticon-envelope"></i>
                            <h3>Email</h3>
                            <span><a href="info@tantrabyte.org">info@tantrabyte.org</a></span>
                        </div>

                        <ul class="footer-social">
                            <li>
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <i class="fab fa-pinterest"></i>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <i class="fab fa-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>



                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <div class="footer-heading">
                            <h3>Important Links</h3>
                        </div>

                        <ul class="footer-quick-links">
                            <li>
                                <a href="#">About Us</a>
                            </li>
                            <li>
                                <a href="#">Project</a>
                            </li>
                            <li>
                                <a href="#">Services</a>
                            </li>
                            <li>
                                <a href="#">Team</a>
                            </li>
                            <li>
                                <a href="#">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>



            </div>
        </div>

        <div class="lines">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>

        <div class="partner-shape-img1">
            <img src="{% static 'assets/img/shape/partnar-shape-2.png' %}" alt="image">
        </div>
    </section>
    <!-- End Footer Section -->


    <!-- Start Go Top Section -->
    <div class="go-top">
        <i class="fas fa-chevron-up"></i>
        <i class="fas fa-chevron-up"></i>
    </div>
    <!-- End Go Top Section -->

    <!-- jQuery Min JS -->
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>

    <!-- Popper Min JS -->
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <!-- Bootstrap Min JS -->
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <!-- MeanMenu JS  -->
    <script src="{% static 'assets/js/jquery.meanmenu.js' %}"></script>
    <!-- Appear Min JS -->
    <script src="{% static 'assets/js/jquery.appear.min.js' %}"></script>
    <!-- Odometer Min JS -->
    <script src="{% static 'assets/js/odometer.min.js' %}"></script>
    <!-- Owl Carousel Min JS -->
    <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
    <!-- Magnific Popup Min JS -->
    <script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
    <!-- Nice Select Min JS -->
    <script src="{% static 'assets/js/jquery.nice-select.min.js' %}"></script>
    <!-- Ajaxchimp Min JS -->
    <script src="{% static 'assets/js/jquery.ajaxchimp.min.js' %}"></script>
    <!-- WOW Min JS -->
    <script src="{% static 'assets/js/wow.min.js' %}"></script>
    <!-- Form Validator Min JS -->
    <script src="{% static 'assets/js/form-validator.min.js' %}"></script>
    <!-- Contact Form Min JS -->
    <script src="{% static 'assets/js/contact-form-script.js' %}"></script>
    <!-- Main JS -->
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script src="{% static 'assets/js/script2.js' %}"></script>
    <!-- Slick Slider-->
    <script src="{% static 'assets/js/slick.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/js/slider.js' %}" type="text/javascript"></script>
    <!--Animation-->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
</body>


</html>