<!doctype html>
<html lang="zxx">
<head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap Min CSS -->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <!-- Animate Min CSS -->
        <link rel="stylesheet" href="assets/css/animate.min.css">
        <!-- FlatIcon CSS -->
        <link rel="stylesheet" href="assets/css/flaticon.css">
        <!-- Odometer Min CSS -->
        <link rel="stylesheet" href="assets/css/odometer.min.css">
        <!-- MeanMenu CSS -->
        <link rel="stylesheet" href="assets/css/meanmenu.css">
        <!-- Magnific Popup Min CSS -->
        <link rel="stylesheet" href="assets/css/magnific-popup.min.css">
        <!-- Nice Select Min CSS -->
        <link rel="stylesheet" href="assets/css/nice-select.min.css">
        <!-- Owl Carousel Min CSS -->
        <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
        <!-- Font Awesome Min CSS -->
        <link rel="stylesheet" href="assets/css/fontawesome.min.css">
        <!-- Style CSS -->
        <link rel="stylesheet" href="assets/css/style.css">
        <!-- Responsive CSS -->
        <link rel="stylesheet" href="assets/css/responsive.css">
    

        <title>SLOGFY</title>

        <link rel="icon" type="image/png" href="assets/img/123.png">
    </head>

    <body>

        <!-- Preloader -->
        <div class="preloader">
            <div class="loader">
                <div class="shadow"></div>
                <div class="box"></div>
            </div>
        </div>
        <!-- End Preloader -->

        <!-- Start Navbar Area -->
        <div class="navbar-area">
            <div class="plamb-responsive-nav">
                <div class="container">
                    <div class="plamb-responsive-menu">
                        <div class="logo">
                            <a href="index.html">
                                <div class="white-logo"><h3 style="color:white">SLOGFY</h3></div>
                               <div class="black-logo"><h3>SLOGFY</h3></div>
                                
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="plamb-nav">
                <div class="container">
                    <nav class="navbar navbar-expand-md navbar-light">
                        <a class="navbar-brand" href="index.html">
                            <div class="black-logo"><h1> SLOGFY </h1></div>
                            <div class="white-logo"><h1 style="color:white"> SLOGFY </h1></div>
                        </a>

                        <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                            <ul class="navbar-nav">
                               
                                <li class="nav-item">
                                    <a href="#services" class="nav-link">
                                        Our Services
<i class="fas fa-chevron-down"></i>
                                    </a>
  <ul class="dropdown-menu">
                                        <li class="nav-item"><a href="analytics.html" class="nav-link">Robitics</a></li>
                                        <li class="nav-item"><a href="healthcare.html" class="nav-link">AI</a>
                                                                                   </li>
                                        <li class="nav-item"><a href="#" class="nav-link">Website<i class="fas fa-chevron-down"></i></a>
 <ul class="dropdown-menu">
                                                 <a href="#" class="nav-link"> Software development </a>
                                                <a href="#" class="nav-link"> Mobile application development </a>
 <a href="#" class="nav-link"> CRM/Salesforce & automation</a>
 <a href="#" class="nav-link"> Intranet solutions</a>
 <a href="#" class="nav-link"> eCommerce Development </a>
 <a href="#" class="nav-link"> Search engine optimisation </a>
                                            </ul>

</li>
                                    </ul>
                  
                                    
                                </li>
                               
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        Our Products
                                        <i class="fas fa-chevron-down"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a href="analytics.html" class="nav-link">Data Analytics</a></li>
                                        <li class="nav-item"><a href="healthcare.html" class="nav-link">HealthCare <i class="fas fa-chevron-down"></i></a>
                                            <ul class="dropdown-menu">
                                                 <a href="#" class="nav-link"> HeartCare </a>
                                                <a href="#" class="nav-link"> EyeCare </a>
                                            </ul>
                                        </li>
                                        <li class="nav-item"><a href="#" class="nav-link">Computer Vision</a></li>
                                    </ul>
                                </li>
                                
                                <li class="nav-item">
                                    <a href="https://tantrabyte.org/blogs" class="nav-link">
                                        Blog
                                        <i class="fas fa-chevron-down"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="#" class="nav-link">
                                                Animations Using Matplotlib
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link">
                                                Applications of AI in HealthCare
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="#" class="nav-link">
                                                Application Of AI in Genetic Research
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="#" class="nav-link">
                                                Business Process Automation
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="about.html" class="nav-link">
                                        About Us
                                    </a>
                                </li>


                            </ul>
                            <div class="other-option">
                                <a class="default-btn" href="#footer">
                                    Contact Us
                                    <span></span>
                                </a>
                            </div>
                            
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <!-- End Navbar Area -->

        
        <!-- Start Page Title Area -->
        <div class="page-title-area item-bg3">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="page-title-content">
                            <h2>E-COMMERCE DEVELOPMENT</h2>
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li>Our Products</li>
                                <li>E-commerce development</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Title Area -->
        
         <section class="fun-facts-area ptb-100">
            <div class="container">
                <div class="col-lg-12 col-md-6 col-sm-6">
                        <div class="single-fun-fact">
                            <h3>
                                ABOUT E-COMMERCE
                            </h3>
                            
                        </div>
                </div>
            </div>
        </section>



        <!-- Start Testimonial Section -->
        <section class="testimonial-section ptb-100">

            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="productive-content">
                            <span>E-commerce</span>
                            <h3>E-commerce (electronic commerce) </h3>
                            <p>is the activity of electronically buying or selling of products on online services or over the Internet. Electronic commerce draws on technologies such as mobile commerce, electronic funds transfer, supply chain management, Internet marketing, online transaction processing, electronic data interchange (EDI), inventory management systems, and automated data collection systems. E-commerce is in turn driven by the technological advances of the semiconductor industry, and is the largest sector of the electronics industry.

Modern electronic commerce typically uses the World Wide Web for at least one part of the transaction's life cycle although it may also use other technologies such as e-mail. Typical e-commerce transactions include the purchase of online books (such as Amazon) and music purchases (music download in the form of digital distribution such as iTunes Store), and to a less extent, customized/personalized online liquor store inventory services.</p>

                            <div class="productive-btn">
                                <a href="#footer" class="productive-btn-one">
                                    Contact With Us
                                    <span></span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="productive-image">
                            <img src="img/eu.jpg" alt="image">
                        </div>
                    </div>
                </div>
            </div>
            

            <div class="testimonial-shape">
                <img src="assets/img/shape/a.png" alt="main-image">
            </div>
            <div class="testimonial-shape-img1">
                <img src="assets/img/shape/testimonial-shape-2.png" alt="image">
            </div>
            <div class="testimonial-shape-img2">
                <img src="assets/img/shape/testimonial-shape-3.png" alt="image">
            </div>
        </section>
        <!-- End Testimonial Section -->

        
        <!-- Start Services Details Area -->
        <section class="services-details-area ptb-100">
            <div class="container">
                <div class="services-details-overview">
                    <div class="row align-items-center">

                         <div class="col-lg-4 col-md-12">
                            <div class="image-sliders owl-carousel owl-theme">
                                <div class="services-details-image">
                                    <img src="img/es1.jpg" alt="image">
                                </div>

                                <div class="services-details-image">
                                    <img src="img/es2.png" alt="image">
                                </div>

                                <div class="services-details-image">
                                    <img src="img/es3.jpg" alt="image">
                                </div>

                                <div class="services-details-image">
                                    <img src="img/es4.jpg" alt="image">
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-8 col-md-12">
                            <div class="services-details-desc">
                                <h3>E-commerce comes in six basic types</h3>
                                <p>Business-to-Business (B2B).
Business-to-Consumer (B2C).
Consumer-to-Consumer (C2C).
Consumer-to-Business (C2B).
Business-to-Administration (B2A).
Consumer-to-Administration (C2A).
Business-to-Business (B2B)</p>

                                <div class="features-text">
                                    <h4>Biggest E-commerce in the world</h4>
                                    <p>1. China. Today, China is the world's biggest e-commerce market, led by e-commerce subsidiaries of the Alibaba group, namely Taobao, Alibaba.com, Tmall and others. With an annual growth rate of 35%, China is also one of the fastest-growing e-commerce markets.</p>
                                </div>

                                <div class="features-text">
                                    <h4>Top 10 online retailers</h4>
                                    <p>The top 10 global e-commerce retailers are Amazon.com, JD.com, Suning Commerce Group, Apple, Walmart, Dell Technologies, Vipshop Holdings, Otto Group, Gome Electrical Appliances and Macy's. Half of the top 10 are from the US, four are based in China and one in Germany.</p>
                                </div>
                            </div>
                        </div>

                       
                    </div>
                </div>  
            </div>
        </section>
        <!-- End Services Details Area -->



         <!-- Start Testimonial Section -->
        <section class="testimonial-section pb-100">

                        <div class="container">
                <div class="row align-items-center">



                    <div class="col-lg-12">
                        <div class="software-content">
                            <span>Advantages</span>
                            <h2>Benefits of E-COMMERCE</h2>
                            <p>Easier time managing a business. Doesn't require much (if at all) physical space. No geographical limitations translates as a bigger customer reach. Higher quality of services and lower operational costs.</p>

                            <ul class="features-list">
                                <li>
                                    <span>Gain New Customers with Search Engine Visibility
</span>
                                </li>
                                <li>
                                    <span>Locate the Product Quicker and provide Comparison Shopping</span>
                                </li>
                                <li>
                                    <span>Enable Deals, Bargains, Coupons, and Group Buying
</span>
                                </li>
                                <li>
                                    <span>Create Targeted Communication and Remain Open All the Time
</span>
                                </li>
                                
                                
                            </ul>
                        </div>
                    </div>

                   
                </div>
            </div>

            

            <div class="testimonial-shape">
                <img src="assets/img/shape/testimonial-shape-1.png" alt="main-image">
            </div>
            <div class="testimonial-shape-img1">
                <img src="assets/img/shape/testimonial-shape-2.png" alt="image">
            </div>
            <div class="testimonial-shape-img2">
                <img src="assets/img/shape/testimonial-shape-3.png" alt="image">
            </div>
        </section>
        <!-- End Testimonial Section -->


 <!--------------------------------------------E-COMMERCE DEVELOPMENT------------------------------------------------ -->
        <section class="fun-facts-area ptb-100">
                <div class="container">
                    <div class="col-lg-12 col-md-6 col-sm-6">
                            <div class="single-fun-fact">
                                <h3>E-COMMERCE DEVELOPMENT</h3>
                            </div>
                    </div>
                </div>
        </section>

        <!-- Start Testimonial Section -->
        <section class="testimonial-section ptb-100">

            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="productive-content">
                            <span>what is E-commerce development</span>
                            <h3>E-commerce </h3>
                            <p>is directly link to your business promotions, as it is the age of digital media. Making your business available online is crucial to your business development such as, highly convenience, wide exposure, global customer, easy to run, etc.The eCommerce developers are normally web developers with additional skills for the tools and platforms commonly used in eCommerce businesses. The main skills of an eCommerce developer should include: HTML, CSS, XML.</p>

                            <div class="productive-btn">
                                
                                <a href="#footer" class="productive-btn-one">
                                    Contact With Us
                                    <span></span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="productive-image">
                            <img src="img/ed.png" alt="image">
                        </div>
                    </div>
                </div>
            </div>
            

            <div class="testimonial-shape">
                <img src="assets/img/shape/testimonial-shape-1.png" alt="main-image">
            </div>
            <div class="testimonial-shape-img1">
                <img src="assets/img/shape/testimonial-shape-2.png" alt="image">
            </div>
            <div class="testimonial-shape-img2">
                <img src="assets/img/shape/testimonial-shape-3.png" alt="image">
            </div>
        </section>
        <!-- End Testimonial Section -->

        
        <!-- Start Services Details Area -->
        <section class="services-details-area ptb-100">
            <div class="container">
                <div class="services-details-overview">
                    <div class="row align-items-center">

                         <div class="col-lg-4 col-md-12">
                            <div class="image-sliders owl-carousel owl-theme">
                                <div class="services-details-image">
                                    <img src="img/et1.png" alt="image">
                                </div>

                                <div class="services-details-image">
                                    <img src="img/et2.png" alt="image">
                                </div>

                                <div class="services-details-image">
                                    <img src="img/et3.png" alt="image">
                                </div>

                                <div class="services-details-image">
                                    <img src="img/et4.jpg" alt="image">
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-8 col-md-12">
                            <div class="services-details-desc">
                                <h3>Stages of E-commerce development</h3>
                                <p>1. Research and Strategy.
​2. Preparation of Website Outline.
​3. Information Framework.
​4. Website Designing.
​5. Construction.
​6. Migration and Launching.
</p>

                                <div class="features-text">
                                    <h4>Major consideration
</h4>
                                    <p>The color, themes and design of your eCommerce site should represent your brand. You need to lay stress on aesthetics and navigation in the layout of the site. Choosing the right colors can help you to attract visitors and make them purchase from your stores.</p>
                                </div>

                                <div class="features-text">
                                    <h4>E-commerce website tools
</h4>
                                    <p>BigCommerce. When you want off-site hosting and enjoy the flexibility of a drag-and-drop editor, options like BigCommerce or a similar SaaS ecommerce platform are ideal.
</p>
                                </div>
                            </div>
                        </div>

                       
                    </div>
                </div>  
            </div>
        </section>
        <!-- End Services Details Area -->







        <!-- Start Productive Section -->
        <section class="productive-section ">

            <div class="container pt-100">
                <div class="section-title">
                    <span>Products</span>
                    <h3>Other Trending Products</h3>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-project">
                            <div class="project-image">
                                <img src="assets/img/project/1.png" alt="image">
                            </div>
        
                            <div class="image-hover">
                                <div class="text">
                                    
                                    <a href="#" class="read-more">Style Transfer</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-project">
                            <div class="project-image">
                                <img src="assets/img/project/2.png" alt="image">
                            </div>
        
                            <div class="image-hover">
                                <div class="text">
                                    
                                    <a href="#" class="read-more">Data Analytics</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
                        <div class="single-project">
                            <div class="project-imag">
                                <img src="img/a2.png" alt="image" height="270" width="270">
                            </div>
        
                            <div class="image-hover">
                                <div class="text">
                                    
                                    <a href="#" class="read-more">E-COMMERCE DEVELOPMENT</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- End Product Details Area -->






 <!-- Start Footer Section -->
        <section class="footer-section ptb-100">
            <div class="container">
                <div class="row">


        <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <div class="footer-heading">
                                <h3>Contact</h3>
                            </div>

                            <div class="footer-info-contact">
                                <i class="flaticon-call-answer"></i>
                                <h3>Phone</h3>
                                <span><a href="tel:+91 9205137675">+91 9205137675</a></span>
                            </div>

                           

                            <div class="footer-info-contact">
                                <i class="flaticon-maps-and-flags"></i>
                                <h3>Address</h3>
                                <span>F-76,<br> 
                                      Near Saket Metro station,<br>Gate no. 2,<br> New Delhi,110030 </span>
                            </div>
                        </div>
                    </div>


                     <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <div class="footer-heading">
                                <h3>Social Media</h3>
                            </div>

                             <div class="footer-info-contact">
                                <i class="flaticon-envelope"></i>
                                <h3>Email</h3>
                                <span><a href="info@tantrabyte.org">info@tantrabyte.org</a></span>
                            </div>

                             <ul class="footer-social">
                                <li>
                                    <a href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <i class="fab fa-pinterest"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <i class="fab fa-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>



                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <div class="footer-heading">
                                <h3>Important Links</h3>
                            </div>

                            <ul class="footer-quick-links">
                                <li>
                                    <a href="#">About Us</a>
                                </li>
                                <li>
                                    <a href="#">Project</a>
                                </li>
                                <li>
                                    <a href="#">Services</a>
                                </li>
                                <li>
                                    <a href="#">Team</a>
                                </li>
                                <li>
                                    <a href="#">Contact</a>
                                </li>
                            </ul>
                        </div>    
                    </div>



                </div>
            </div>

            <div class="lines">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>

            <div class="partner-shape-img1">
                <img src="assets/img/shape/partnar-shape-2.png" alt="image">
            </div>
        </section>
        <!-- End Footer Section -->


        <!-- Start Go Top Section -->
        <div class="go-top">
            <i class="fas fa-chevron-up"></i>
            <i class="fas fa-chevron-up"></i>
        </div>
        <!-- End Go Top Section -->

        <!-- jQuery Min JS -->
        <script src="assets/js/jquery.min.js"></script>
        <!-- Popper Min JS -->
        <script src="assets/js/popper.min.js"></script>
        <!-- Bootstrap Min JS -->
        <script src="assets/js/bootstrap.min.js"></script>
        <!-- MeanMenu JS  -->
        <script src="assets/js/jquery.meanmenu.js"></script>
        <!-- Appear Min JS -->
        <script src="assets/js/jquery.appear.min.js"></script>
        <!-- Odometer Min JS -->
        <script src="assets/js/odometer.min.js"></script>
        <!-- Owl Carousel Min JS -->
        <script src="assets/js/owl.carousel.min.js"></script>
        <!-- Magnific Popup Min JS -->
        <script src="assets/js/jquery.magnific-popup.min.js"></script>
        <!-- Nice Select Min JS -->
        <script src="assets/js/jquery.nice-select.min.js"></script>
        <!-- Ajaxchimp Min JS -->
        <script src="assets/js/jquery.ajaxchimp.min.js"></script>
        <!-- WOW Min JS -->
        <script src="assets/js/wow.min.js"></script>
        <!-- Form Validator Min JS -->
        <script src="assets/js/form-validator.min.js"></script>
        <!-- Contact Form Min JS -->
        <script src="assets/js/contact-form-script.js"></script>
        <!-- Main JS -->
        <script src="assets/js/main.js"></script>
    </body>


</html>
