{% load static %}
<!doctype html>
<html lang="zxx">
<head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap Min CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
        <!-- Animate Min CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
        <!-- FlatIcon CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}">
        <!-- Odometer Min CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/odometer.min.css' %}">
        <!-- MeanMenu CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/meanmenu.css' %}">
        <!-- Magnific Popup Min CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.min.css' %}">
        <!-- Nice Select Min CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/nice-select.min.css' %}">
        <!-- Owl Carousel Min CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
        <!-- Font Awesome Min CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/fontawesome.min.css' %}">
        <!-- Style CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
        <!-- Responsive CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
    

        <title>TantraByte</title>

        <link rel="icon" type="image/png" href="{% static 'assets/img/123.png">
    </head>

    <body>

        <!-- Preloader -->
        <div class="preloader">
            <div class="loader">
                <div class="shadow"></div>
                <div class="box"></div>
            </div>
        </div>
        <!-- End Preloader -->

        <!-- Start Navbar Area -->
        <div class="navbar-area">
            <div class="plamb-responsive-nav">
                <div class="container">
                    <div class="plamb-responsive-menu">
                        <div class="logo">
                            <a href="index.html">
                                <div class="white-logo"><h3 style="color:white">TANTRABYTE</h3></div>
                               <div class="black-logo"><h3>TANTRABYTE</h3></div>
                                
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="plamb-nav">
                <div class="container">
                    <nav class="navbar navbar-expand-md navbar-light">
                        <a class="navbar-brand" href="index.html">
                            <div class="black-logo"><h1> TANTRABYTE </h1></div>
                            <div class="white-logo"><h1 style="color:white"> TANTRABYTE </h1></div>
                        </a>

                        <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                            <ul class="navbar-nav">
                               
                                <li class="nav-item">
                                    <a href="#services" class="nav-link">
                                        Our Services
                                    </a>
                                    
                                </li>
                               
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        Our Products
                                        <i class="fas fa-chevron-down"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a href="analytics.html" class="nav-link">Data Analytics</a></li>
                                        <li class="nav-item"><a href="healthcare.html" class="nav-link">HealthCare <i class="fas fa-chevron-down"></i></a>
                                            <ul class="dropdown-menu">
                                                 <a href="#" class="nav-link"> HeartCare </a>
                                                <a href="#" class="nav-link"> EyeCare </a>
                                            </ul>
                                        </li>
                                        <li class="nav-item"><a href="#" class="nav-link">Computer Vision</a></li>
                                    </ul>
                                </li>
                                
                                <li class="nav-item">
                                    <a href="https://tantrabyte.org/blogs" class="nav-link">
                                        Blog
                                        <i class="fas fa-chevron-down"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="#" class="nav-link">
                                                Animations Using Matplotlib
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link">
                                                Applications of AI in HealthCare
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="#" class="nav-link">
                                                Application Of AI in Genetic Research
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="#" class="nav-link">
                                                Business Process Automation
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="about.html" class="nav-link">
                                        About Us
                                    </a>
                                </li>


                            </ul>
                            <div class="other-option">
                                <a class="default-btn" href="#footer">
                                    Contact Us
                                    <span></span>
                                </a>
                            </div>
                            
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <!-- End Navbar Area -->

        
        <!-- Start Page Title Area -->
        <div class="page-title-area item-bg3">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="page-title-content">
                            <h2>HEALTHCARE</h2>
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li>Our Products</li>
                                <li>HealthCare</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Title Area -->
        
         <section class="fun-facts-area ptb-100">
            <div class="container">
                <div class="col-lg-12 col-md-6 col-sm-6">
                        <div class="single-fun-fact">
                            <h3>
                                HeartCare
                            </h3>
                            
                        </div>
                </div>
            </div>
        </section>



        <!-- Start Testimonial Section -->
        <section class="testimonial-section ptb-100">

            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="productive-content">
                            <span>HeartCare</span>
                            <h3>Our Product For Heart Patients </h3>
                            <p>As we can see heart patients are increasing day by day due to unhealthy eating habits and bad lifestyle. Situation becomes worse with increasing time if any precaution or medication is not taken regularly. This happens because people don't realise on time that they have diseased heart and even all manual practices are also not so much accurate which can accurately detect and diagnose the illness.
<br> 
<br>So keeping this in mind, we have developed IoT based devices which can check patient vitals such as heartbeat, pulse, temperature, ecg, haemoglobin and much more.</p>

                            <div class="productive-btn">
                                <a href="#footer" class="productive-btn-one">
                                    Contact With Us
                                    <span></span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="productive-image">
                            <img src="img/hr2.png" alt="image">
                        </div>
                    </div>
                </div>
            </div>
            

            <div class="testimonial-shape">
                <img src="assets/img/shape/testimonial-shape-1.png" alt="main-image">
            </div>
            <div class="testimonial-shape-img1">
                <img src="assets/img/shape/testimonial-shape-2.png" alt="image">
            </div>
            <div class="testimonial-shape-img2">
                <img src="assets/img/shape/testimonial-shape-3.png" alt="image">
            </div>
        </section>
        <!-- End Testimonial Section -->

        
        <!-- Start Services Details Area -->
        <section class="services-details-area ptb-100">
            <div class="container">
                <div class="services-details-overview">
                    <div class="row align-items-center">

                         <div class="col-lg-4 col-md-12">
                            <div class="image-sliders owl-carousel owl-theme">
                                <div class="services-details-image">
                                    <img src="img/p1.png" alt="image">
                                </div>

                                <div class="services-details-image">
                                    <img src="img/p2.png" alt="image">
                                </div>

                                <div class="services-details-image">
                                    <img src="img/p3.png" alt="image">
                                </div>

                                <div class="services-details-image">
                                    <img src="img/p4.png" alt="image">
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-8 col-md-12">
                            <div class="services-details-desc">
                                <h3>How Does It work</h3>
                                <p>Based to the input provided to the device, it will send this input data to our server where our machine learning model will check whether patient is fit or not.</p>

                                <div class="features-text">
                                    <h4>Analytics Report</h4>
                                    <p>If patient vitals are above or below normal it will inform his doctor so that doctor can personally check his/her vital and assure everything is ok or not.</p>
                                </div>

                                <div class="features-text">
                                    <h4>Smart Wearables</h4>
                                    <p> Consumer wearables and other medical devices equipped with AI technology is already being applied to oversee early - stage heart disease which enables doctors to better monitor and detect life - threatening diseases at earlier stage as well as more treatable stages.</p>
                                </div>
                            </div>
                        </div>

                       
                    </div>
                </div>  
            </div>
        </section>
        <!-- End Services Details Area -->



         <!-- Start Testimonial Section -->
        <section class="testimonial-section pb-100">

                        <div class="container">
                <div class="row align-items-center">



                    <div class="col-lg-12">
                        <div class="software-content">
                            <span>Advantages</span>
                            <h2>Benefits of using this device</h2>
                            <p>Apart from scanning health records to help providers identify chronically ill individuals who may be at a risk of an adverse stage, AI can help doctors, clinicians take a more comprehensive approach for disease management, better care plans and help patients to better manage with their long-term treatment programmes. </p>

                            <ul class="features-list">
                                <li>
                                    <span>Doctors can manage thousands of patients at a time using this product.</span>
                                </li>
                                <li>
                                    <span>It will ensure patient safety from sudden anomaly of his vitals.</span>
                                </li>
                                <li>
                                    <span>Our AI model will also suggest the patient what to eat and what to avoid.</span>
                                </li>
                                <li>
                                    <span>This Machine Learning model can tell patient how to organise the schedule.</span>
                                </li>
                                
                                
                            </ul>
                        </div>
                    </div>

                   
                </div>
            </div>

            

            <div class="testimonial-shape">
                <img src="assets/img/shape/testimonial-shape-1.png" alt="main-image">
            </div>
            <div class="testimonial-shape-img1">
                <img src="assets/img/shape/testimonial-shape-2.png" alt="image">
            </div>
            <div class="testimonial-shape-img2">
                <img src="assets/img/shape/testimonial-shape-3.png" alt="image">
            </div>
        </section>
        <!-- End Testimonial Section -->


 <!--------------------------------------------- EYECARE------------------------------------------------- -->
        <section class="fun-facts-area ptb-100">
                <div class="container">
                    <div class="col-lg-12 col-md-6 col-sm-6">
                            <div class="single-fun-fact">
                                <h3>EyeCare</h3>
                            </div>
                    </div>
                </div>
        </section>

        <!-- Start Testimonial Section -->
        <section class="testimonial-section ptb-100">

            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="productive-content">
                            <span>EyeCare</span>
                            <h3>Our Product For EyeCare</h3>
                            <p>Based on World Health organisation report blind people due to cataracts are about 20 million and will exceed 40 million by 2025. AI has astounding potential to perform much better than human beings such as in image recognition field. 
<br>
<br> Patients suffering from eye diseases are expected to increase steeply. Early detection and appropriate treatment of eye diseases should be done to prevent vision loss and promote living quality.</p>

                            <div class="productive-btn">
                                
                                <a href="#footer" class="productive-btn-one">
                                    Contact With Us
                                    <span></span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="productive-image">
                            <img src="img/ey.png" alt="image">
                        </div>
                    </div>
                </div>
            </div>
            

            <div class="testimonial-shape">
                <img src="assets/img/shape/testimonial-shape-1.png" alt="main-image">
            </div>
            <div class="testimonial-shape-img1">
                <img src="assets/img/shape/testimonial-shape-2.png" alt="image">
            </div>
            <div class="testimonial-shape-img2">
                <img src="assets/img/shape/testimonial-shape-3.png" alt="image">
            </div>
        </section>
        <!-- End Testimonial Section -->

        
        <!-- Start Services Details Area -->
        <section class="services-details-area ptb-100">
            <div class="container">
                <div class="services-details-overview">
                    <div class="row align-items-center">

                         <div class="col-lg-4 col-md-12">
                            <div class="image-sliders owl-carousel owl-theme">
                                <div class="services-details-image">
                                    <img src="img/ey1.png" alt="image">
                                </div>

                                <div class="services-details-image">
                                    <img src="img/ey2.png" alt="image">
                                </div>

                                <div class="services-details-image">
                                    <img src="img/ey3.png" alt="image">
                                </div>

                                <div class="services-details-image">
                                    <img src="img/ey4.png" alt="image">
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-8 col-md-12">
                            <div class="services-details-desc">
                                <h3>How Does Our Product Works</h3>
                                <p>For the above problem we have created a software model which uses AI & Machine Learning algorithms to detect which level of cataract a person has and which cases should be referred for further investigation with just a single click of an image.</p>

                                <div class="features-text">
                                    <h4>Automatic Detection</h4>
                                    <p>A computer-aided transfer learning-based automatic cataract detection method is proposed.</p>
                                </div>

                                <div class="features-text">
                                    <h4>Solution</h4>
                                    <p>Automatic classification is done via pre-trained CNN for deep transfer learning.

<br>The proposed method outperforms with the existing methods in evaluating the cataract.<br>
This method also eliminates the burden of training a CNN from scratch.
</p>
                                </div>
                            </div>
                        </div>

                       
                    </div>
                </div>  
            </div>
        </section>
        <!-- End Services Details Area -->







        <!-- Start Productive Section -->
        <section class="productive-section ">

            <div class="container pt-100">
                <div class="section-title">
                    <span>Products</span>
                    <h3>Other Trending Products</h3>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-project">
                            <div class="project-image">
                                <img src="assets/img/project/1.png" alt="image">
                            </div>
        
                            <div class="image-hover">
                                <div class="text">
                                    
                                    <a href="#" class="read-more">Style Transfer</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-project">
                            <div class="project-image">
                                <img src="assets/img/project/2.png" alt="image">
                            </div>
        
                            <div class="image-hover">
                                <div class="text">
                                    
                                    <a href="#" class="read-more">Data Analytics</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
                        <div class="single-project">
                            <div class="project-imag">
                                <img src="img/ey.png" alt="image" height="270" width="270">
                            </div>
        
                            <div class="image-hover">
                                <div class="text">
                                    
                                    <a href="#" class="read-more">EYECARE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- End Product Details Area -->






 <!-- Start Footer Section -->
        <section class="footer-section ptb-100">
            <div class="container">
                <div class="row">


        <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <div class="footer-heading">
                                <h3>Contact</h3>
                            </div>

                            <div class="footer-info-contact">
                                <i class="flaticon-call-answer"></i>
                                <h3>Phone</h3>
                                <span><a href="tel:+91 9205137675">+91 9205137675</a></span>
                            </div>

                           

                            <div class="footer-info-contact">
                                <i class="flaticon-maps-and-flags"></i>
                                <h3>Address</h3>
                                <span>F-76,<br> 
                                      Near Saket Metro station,<br>Gate no. 2,<br> New Delhi,110030 </span>
                            </div>
                        </div>
                    </div>


                     <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <div class="footer-heading">
                                <h3>Social Media</h3>
                            </div>

                             <div class="footer-info-contact">
                                <i class="flaticon-envelope"></i>
                                <h3>Email</h3>
                                <span><a href="info@tantrabyte.org">info@tantrabyte.org</a></span>
                            </div>

                             <ul class="footer-social">
                                <li>
                                    <a href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <i class="fab fa-pinterest"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <i class="fab fa-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>



                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <div class="footer-heading">
                                <h3>Important Links</h3>
                            </div>

                            <ul class="footer-quick-links">
                                <li>
                                    <a href="#">About Us</a>
                                </li>
                                <li>
                                    <a href="#">Project</a>
                                </li>
                                <li>
                                    <a href="#">Services</a>
                                </li>
                                <li>
                                    <a href="#">Team</a>
                                </li>
                                <li>
                                    <a href="#">Contact</a>
                                </li>
                            </ul>
                        </div>    
                    </div>



                </div>
            </div>

            <div class="lines">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>

            <div class="partner-shape-img1">
                <img src="assets/img/shape/partnar-shape-2.png" alt="image">
            </div>
        </section>
        <!-- End Footer Section -->


        <!-- Start Go Top Section -->
        <div class="go-top">
            <i class="fas fa-chevron-up"></i>
            <i class="fas fa-chevron-up"></i>
        </div>
        <!-- End Go Top Section -->

        <!-- jQuery Min JS -->
        <script src="{% static 'assets/js/jquery.min.js' %}"></script>
        <!-- Popper Min JS -->
        <script src="{% static 'assets/js/popper.min.js' %}"></script>
        <!-- Bootstrap Min JS -->
        <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
        <!-- MeanMenu JS  -->
        <script src="{% static 'assets/js/jquery.meanmenu.js' %}"></script>
        <!-- Appear Min JS -->
        <script src="{% static 'assets/js/jquery.appear.min.js' %}"></script>
        <!-- Odometer Min JS -->
        <script src="{% static 'assets/js/odometer.min.js' %}"></script>
        <!-- Owl Carousel Min JS -->
        <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
        <!-- Magnific Popup Min JS -->
        <script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
        <!-- Nice Select Min JS -->
        <script src="{% static 'assets/js/jquery.nice-select.min.js' %}"></script>
        <!-- Ajaxchimp Min JS -->
        <script src="{% static 'assets/js/jquery.ajaxchimp.min.js' %}"></script>
        <!-- WOW Min JS -->
        <script src="{% static 'assets/js/wow.min.js' %}"></script>
        <!-- Form Validator Min JS -->
        <script src="{% static 'assets/js/form-validator.min.js' %}"></script>
        <!-- Contact Form Min JS -->
        <script src="{% static 'assets/js/contact-form-script.js' %}"></script>
        <!-- Main JS -->
        <script src="{% static 'assets/js/main.js' %}"></script>
    </body>


</html>
