<!doctype html>
<html lang="zxx">
<head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap Min CSS -->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <!-- Animate Min CSS -->
        <link rel="stylesheet" href="assets/css/animate.min.css">
        <!-- FlatIcon CSS -->
        <link rel="stylesheet" href="assets/css/flaticon.css">
        <!-- Odometer Min CSS -->
        <link rel="stylesheet" href="assets/css/odometer.min.css">
        <!-- MeanMenu CSS -->
        <link rel="stylesheet" href="assets/css/meanmenu.css">
        <!-- Magnific Popup Min CSS -->
        <link rel="stylesheet" href="assets/css/magnific-popup.min.css">
        <!-- Nice Select Min CSS -->
        <link rel="stylesheet" href="assets/css/nice-select.min.css">
        <!-- Owl Carousel Min CSS -->
        <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
        <!-- Font Awesome Min CSS -->
        <link rel="stylesheet" href="assets/css/fontawesome.min.css">
        <!-- Style CSS -->
        <link rel="stylesheet" href="assets/css/style.css">
        <!-- Responsive CSS -->
        <link rel="stylesheet" href="assets/css/responsive.css">
    

        <title>TantraByte</title>

        <link rel="icon" type="image/png" href="assets/img/123.png">
    </head>

    <body>

        <!-- Preloader -->
        <div class="preloader">
            <div class="loader">
                <div class="shadow"></div>
                <div class="box"></div>
            </div>
        </div>
        <!-- End Preloader -->

        <!-- Start Navbar Area -->
        <div class="navbar-area">
            <div class="plamb-responsive-nav">
                <div class="container">
                    <div class="plamb-responsive-menu">
                        <div class="logo">
                            <a href="index.html">
                                <div class="white-logo"><h3 style="color:white">Slogfy</h3></div>
                               <div class="black-logo"><h3>Slogfy</h3></div>
                                
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="plamb-nav">
                <div class="container">
                    <nav class="navbar navbar-expand-md navbar-light">
                        <a class="navbar-brand" href="index.html">
                            <div class="black-logo"><h1> Slogfy </h1></div>
                            <div class="white-logo"><h1 style="color:white"> Slogfy </h1></div>
                        </a>

                        <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                            <ul class="navbar-nav">
                               
                                <li class="nav-item">
                                    <a href="#services" class="nav-link">
                                        Our Services
                                    </a>
                                    
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a href="analytics.html" class="nav-link">Robitics<i class="fas fa-chevron-down"></i></a>

                                            <ul class="dropdown-menu">
                                                 <a href="https://www.roboslog.in/embedded/" class="nav-link"> Embedded IOT </a>
                                                 <a href="https://www.roboslog.in/pcb-design/" class="nav-link"> PCB Design </a>
                                                 <a href="https://www.roboslog.in/3dprint/" class="nav-link"> 3D Printing </a>
                                                 <a href="https://www.roboslog.in/stem/" class="nav-link"> STEM & ATL Lab </a>
                                                 <a href="https://www.roboslog.in/smarthome/" class="nav-link"> Smart Home </a>
                                                 <a href="https://www.roboslog.in/restaurant-robotic-arm/" class="nav-link"> Robotic Automation </a>
                                            </ul>
                                        </li>
                                        <li class="nav-item"><a href="healthcare.html" class="nav-link">AI<i class="fas fa-chevron-down"></i></a>
                                            <ul class="dropdown-menu">
                                                 <a href="machinelearning.html" class="nav-link">Machine learning</a>
                                                <a href="Python.html" class="nav-link"> Pthyon AI</a>
                                                <a href="chatbot.html" class="nav-link">Chatbots</a>
                                                <a href="cluster.html" class="nav-link">Cluster</a>
                                                <a href="#" class="nav-link">Image Recognition</a>
                                                <a href="natural.html" class="nav-link"> Natural Lanuage Processing</a>
                                    
                                            </ul>   
                               
                                </li>
                            <li class="nav-item"><a href="#" class="nav-link">Website</a></li>
                        </li>
                    </ul>
                           
                               
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        Our Product
                                        <i class="fas fa-chevron-down"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a href="analytics.html" class="nav-link">Data Analytics</a></li>
                                        <li class="nav-item"><a href="healthcare.html" class="nav-link">HealthCare <i class="fas fa-chevron-down"></i></a>
                                            <ul class="dropdown-menu">
                                                 <a href="#" class="nav-link"> HeartCare </a>
                                                <a href="#" class="nav-link"> EyeCare </a>
                                            </ul>
                                        </li>
                                        <li class="nav-item"><a href="#" class="nav-link">Computer Vision</a></li>
                                    </ul>
                                </li>
                                
                                <li class="nav-item">
                                    <a href="https://tantrabyte.org/blogs" class="nav-link">
                                        Blog
                                        <i class="fas fa-chevron-down"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="#" class="nav-link">
                                                Animations Using Matplotlib
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link">
                                                Applications of AI in HealthCare
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="#" class="nav-link">
                                                Application Of AI in Genetic Research
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="#" class="nav-link">
                                                Business Process Automation
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="about.html" class="nav-link">
                                        About Us
                                    </a>
                                </li>


                            </ul>
                            <div class="other-option">
                                <a class="default-btn" href="#footer">
                                    Contact Us
                                    <span></span>
                                </a>
                            </div>
                            
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <!-- End Navbar Area -->

        
        <!-- Start Page Title Area -->
        <div class="page-title-area item-bg7">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="page-title-content">
                            <h2>Image Recognition</h2>
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li>Our Services</li>
                                <li>AI</li>
                                <li>Image Recognition</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Title Area -->
        
         <section class="fun-facts-area ptb-100">
            <div class="container">
                <div class="col-lg-12 col-md-6 col-sm-6">
                        <div class="single-fun-fact">
                            <h3>
                                Image Recognition
                            </h3>
                            
                        </div>
                </div>
            </div>
        </section>



        <!-- Start Testimonial Section -->
        <section class="testimonial-section ptb-100">

            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="productive-content">
                            <span>Image Recognition</span>
                            <h3>Introduction </h3>
                            <p>
                                Image recognition is the processing of the image seen by the machine (computer) in such a way that by analyzing the digital data recording, it is possible to classify the observed objects in order to make further decisions. Image recognition in the meaning of e.g. recognizing people on photos is actually a special case of the pattern recognition domain that applies in many areas of science. It can be used in a huge number of fields — from cartography and geology, through medicine, archeology, astronomy to physics, bio-identification, security, industry, and robotics.
                            </p>
<br> 


                            <div class="productive-btn">
                                <a href="#footer" class="productive-btn-one">
                                    Contact With Us
                                    <span></span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="productive-image">
                            <img src="img/im1.jpg" alt="image">
                        </div>
                    </div>
                </div>
            </div>
            

            <div class="testimonial-shape">
                <img src="assets/img/shape/testimonial-shape-1.png" alt="main-image">
            </div>
            <div class="testimonial-shape-img1">
                <img src="assets/img/shape/testimonial-shape-2.png" alt="image">
            </div>
            <div class="testimonial-shape-img2">
                <img src="assets/img/shape/testimonial-shape-3.png" alt="image">
            </div>
        </section>
        <!-- End Testimonial Section -->

        
        <!-- Start Services Details Area -->
        <section class="services-details-area ptb-100">
            <div class="container">
                <div class="services-details-overview">
                    <div class="row align-items-center">

                         <div class="col-lg-4 col-md-12">
                            <div class="image-sliders owl-carousel owl-theme">
                                <div class="services-details-image">
                                    <img src="img/im1.jpg" alt="image" width="100%">
                                </div>

                                <div class="services-details-image">
                                    <img src="img/im2.jpg" alt="image" width="100%">
                                </div>

                                <div class="services-details-image">
                                    <img src="img/im3.jpg" alt="image" width="100%">
                                </div>

                                <div class="services-details-image">
                                    <img src="img/img4.jpg" alt="image" width="100%">
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-8 col-md-12">
                            <div class="services-details-desc">
                                <h3>How Does It work</h3>
                                <p>Facebook can now perform face recognize at 98% accuracy which is comparable to the ability of humans. Facebook can identify your friend’s face with only a few tagged pictures. The efficacy of this technology depends on the ability to classify images. Classification is pattern matching with data. Images are data in the form of 2-dimensional matrices. In fact, image recognition is classifying data into one category out of many. One common and an important example is optical character recognition (OCR). OCR converts images of typed or handwritten text into machine-encoded text.

                                    The major steps in image recognition process are gather and organize data, build a predictive model and use it to recognize images.</p>
                                    <h3>
                                        Gather and organize Data
                                    </h3>
                                    <p>The human eye perceives an image as a set of signals which are processed by the visual cortex in the brain. This results in a vivid experience of a scene, associated with concepts and objects recorded in one’s memory. Image recognition tries to mimic this process. Computer perceives an image as either a raster or a vector image. Raster images are a sequence of pixels with discrete numerical values for colors while vector images are a set of color-annotated polygons.

                                        Vector vs Raster image
                                        
                                        To analyze images the geometric encoding is transformed into constructs depicting physical features and objects. These constructs can then be logically analyzed by the computer. Organizing data involves classification and feature extraction. The first step in image classification is to simplify the image by extracting important information and leaving out the rest. For example, in the below image if you want to extract cat from the background you will notice a significant variation in RGB pixel values.</p>
                            </div>
                        </div>

                       
                    </div>
                </div>  
            </div>
        </section>
        <!-- End Services Details Area -->



         <!-- Start Testimonial Section -->
        <section class="testimonial-section pb-100">

                        <div class="container">
                <div class="row align-items-center">



                    <div class="col-lg-12">
                        <div class="software-content">
                            <span>Advantages</span>
                            <h2>Benefits of using this </h2>
                            <p>In the case of humans, such tasks are prone to errors. Chatbots now help automate tasks which are to be done frequently and at the right time. </p>

                            <ul class="features-list">
                                <li>
                                    <span>Enhance Security</span>
                                </li>
                                <li>
                                    <span>Faster Processing</span>
                                </li>
                                <li>
                                    <span>Automation Verification</span>
                                </li>
                                <li>
                                    <span>Breach of Privacy
                                    </span>
                                </li>
                                
                                
                            </ul>
                        </div>
                    </div>

                   
                </div>
            </div>

            

            <div class="testimonial-shape">
                <img src="assets/img/shape/testimonial-shape-1.png" alt="main-image">
            </div>
            <div class="testimonial-shape-img1">
                <img src="assets/img/shape/testimonial-shape-2.png" alt="image">
            </div>
            <div class="testimonial-shape-img2">
                <img src="assets/img/shape/testimonial-shape-3.png" alt="image">
            </div>
        </section>
        <!-- End Testimonial Section -->


 <!--------------------------------------------- EYECARE------------------------------------------------- -->
      

        
       





        <!-- Start Productive Section -->
        <section class="productive-section ">

            <div class="container pt-100">
                <div class="section-title">
                    <span>Images</span>
                    
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-project">
                            <div class="project-image">
                                <img src="img/im5.jpg" alt="image">
                            </div>
        
                            <div class="image-hover">
                                <div class="text">
                                    
                                    <a href="#" class="read-more">biometric</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-project">
                            <div class="project-image">
                                <img src="img/img4.jpg" alt="image">
                            </div>
        
                            <div class="image-hover">
                                <div class="text">
                                    
                                    <a href="#" class="read-more">Recognition</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
                        <div class="single-project">
                            <div class="project-imag">
                                <img src="img/im3.jpg" alt="image" height="270" width="270">
                            </div>
        
                            <div class="image-hover">
                                <div class="text">
                                    
                                    <a href="#" class="read-more">image</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- End Product Details Area -->






 <!-- Start Footer Section -->
        <section class="footer-section ptb-100">
            <div class="container">
                <div class="row">


        <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <div class="footer-heading">
                                <h3>Contact</h3>
                            </div>

                            <div class="footer-info-contact">
                                <i class="flaticon-call-answer"></i>
                                <h3>Phone</h3>
                                <span><a href="tel:+91 9205137675">+91 9205137675</a></span>
                            </div>

                           

                            <div class="footer-info-contact">
                                <i class="flaticon-maps-and-flags"></i>
                                <h3>Address</h3>
                                <span>F-76,<br> 
                                      Near Saket Metro station,<br>Gate no. 2,<br> New Delhi,110030 </span>
                            </div>
                        </div>
                    </div>


                     <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <div class="footer-heading">
                                <h3>Social Media</h3>
                            </div>

                             <div class="footer-info-contact">
                                <i class="flaticon-envelope"></i>
                                <h3>Email</h3>
                                <span><a href="info@tantrabyte.org">info@tantrabyte.org</a></span>
                            </div>

                             <ul class="footer-social">
                                <li>
                                    <a href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <i class="fab fa-pinterest"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <i class="fab fa-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>



                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <div class="footer-heading">
                                <h3>Important Links</h3>
                            </div>

                            <ul class="footer-quick-links">
                                <li>
                                    <a href="#">About Us</a>
                                </li>
                                <li>
                                    <a href="#">Project</a>
                                </li>
                                <li>
                                    <a href="#">Services</a>
                                </li>
                                <li>
                                    <a href="#">Team</a>
                                </li>
                                <li>
                                    <a href="#">Contact</a>
                                </li>
                            </ul>
                        </div>    
                    </div>



                </div>
            </div>

            <div class="lines">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>

            <div class="partner-shape-img1">
                <img src="assets/img/shape/partnar-shape-2.png" alt="image">
            </div>
        </section>
        <!-- End Footer Section -->


        <!-- Start Go Top Section -->
        <div class="go-top">
            <i class="fas fa-chevron-up"></i>
            <i class="fas fa-chevron-up"></i>
        </div>
        <!-- End Go Top Section -->

        <!-- jQuery Min JS -->
        <script src="assets/js/jquery.min.js"></script>
        <!-- Popper Min JS -->
        <script src="assets/js/popper.min.js"></script>
        <!-- Bootstrap Min JS -->
        <script src="assets/js/bootstrap.min.js"></script>
        <!-- MeanMenu JS  -->
        <script src="assets/js/jquery.meanmenu.js"></script>
        <!-- Appear Min JS -->
        <script src="assets/js/jquery.appear.min.js"></script>
        <!-- Odometer Min JS -->
        <script src="assets/js/odometer.min.js"></script>
        <!-- Owl Carousel Min JS -->
        <script src="assets/js/owl.carousel.min.js"></script>
        <!-- Magnific Popup Min JS -->
        <script src="assets/js/jquery.magnific-popup.min.js"></script>
        <!-- Nice Select Min JS -->
        <script src="assets/js/jquery.nice-select.min.js"></script>
        <!-- Ajaxchimp Min JS -->
        <script src="assets/js/jquery.ajaxchimp.min.js"></script>
        <!-- WOW Min JS -->
        <script src="assets/js/wow.min.js"></script>
        <!-- Form Validator Min JS -->
        <script src="assets/js/form-validator.min.js"></script>
        <!-- Contact Form Min JS -->
        <script src="assets/js/contact-form-script.js"></script>
        <!-- Main JS -->
        <script src="assets/js/main.js"></script>
    </body>


</html>
